:root {
    --header-logo-width: 194px;
    --header-logo-height: 24px;
}

.Header {
    &-MobileMenuOverlay {
        position: fixed;
        z-index: 999;
        width: 100%;
        background: var(--color-white);
    }

    &-MenuLogoWrapper {
        display: flex;
        width: 100%;
    }

    &-BurgerButton {
        min-width: 20px;
        margin-block-start: 6px;
    }
}
